<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vromia.healthadvisor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".Activities.SearchMenuActivity"
            android:label="@string/title_activity_search_menu"></activity>
        <activity
            android:name=".Activities.CategoryViewActivity"
            android:label="@string/title_activity_category_view"></activity>
        <activity
            android:name=".Activities.SearchViewActivity"
            android:label="@string/title_activity_search_view"></activity>
        <activity
            android:name=".Activities.DiseaseActivity"
            android:label="@string/title_activity_disease"></activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
        <activity
            android:name=".Activities.ESubstancesListActivity"
            android:label="@string/title_activity_esubstances_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ESubstanceActivity"
            android:label="@string/title_activity_esubstance">
        </activity>
        <activity
            android:name=".Activities.DiseaseActivity2"
            android:label="@string/title_activity_disease_activity2"></activity>
    </application>

</manifest>
